<a href="https://colab.research.google.com/github/obeabi/Assignments/blob/master/MercedezBenz_Abiola.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mercedez Benz Dataset
Written by: Abiola Obembe
Date : 2020-10-25

## Step 1 Data Preprocessing

In [4]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

plt.rcParams['figure.figsize'] = (5.0, 4.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'


print("Installation complete!")

Installation complete!

In [5]:
# Load dataset
dataset = pd.read_csv("mercedesbenz.csv")
dataset.head()

   ID       y  X0 X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
0   0  130.81   k  v  at  a  d  ...    0    0    0     0     0     0     0
1   6   88.53   k  t  av  e  d  ...    0    0    0     0     0     0     0
2   7   76.26  az  w   n  c  d  ...    0    0    0     1     0     0     0
3   9   80.62  az  t   n  f  d  ...    0    0    0     0     0     0     0
4  13   78.02  az  v   n  f  d  ...    0    0    0     0     0     0     0

[5 rows x 378 columns]

In [6]:
# Check shape of dataset and missing values
print("The shape of the dataset is:", (dataset.shape))
print("The number of rows in the dataset is:", str(dataset.shape[0]))
print("The number of columns in the dataset is:", str(dataset.shape[1]))

missing_values = dataset.isnull().sum().sum()

print("The number of missing values the dataset is:", str(missing_values))

The shape of the dataset is: (4209, 378)
The number of rows in the dataset is: 4209
The number of columns in the dataset is: 378
The number of missing values the dataset is: 0

In [7]:
# Check for data types
dataset.dtypes

ID        int64
y       float64
X0       object
X1       object
X2       object
         ...
X380      int64
X382      int64
X383      int64
X384      int64
X385      int64
Length: 378, dtype: object

In [8]:
# Print dataset information
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [9]:
#  Finding numerical and categorical columns from original dataframe
num_cols = dataset.select_dtypes(exclude ='object').columns.tolist()
cat_cols = dataset.select_dtypes(include='object').columns.tolist()

print(num_cols)
print(cat_cols)

['ID', 'y', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X73', 'X74', 'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83', 'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92', 'X93', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101', 'X102', 'X103', 'X104', 'X105', 'X106', 'X107', 'X108', 'X109', 'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117', 'X118', 'X119', 'X120', 'X122', 'X123', 'X124', 'X125', 'X126', 'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134', 'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142', 'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X150', 'X151', 'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159', 'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167', 'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175', 'X176', 'X177', 'X178', 'X179', 'X180', 'X181', 'X182', 'X183', 'X184', 'X185', 'X186', 'X187', 'X189', 'X190', 'X191', 'X192', 'X194', 'X195', 'X196', 'X197', 'X198', 'X199', 'X200', 'X201', 'X202', 'X203', 'X204', 'X205', 'X206', 'X207', 'X208', 'X209', 'X210', 'X211', 'X212', 'X213', 'X214', 'X215', 'X216', 'X217', 'X218', 'X219', 'X220', 'X221', 'X222', 'X223', 'X224', 'X225', 'X226', 'X227', 'X228', 'X229', 'X230', 'X231', 'X232', 'X233', 'X234', 'X235', 'X236', 'X237', 'X238', 'X239', 'X240', 'X241', 'X242', 'X243', 'X244', 'X245', 'X246', 'X247', 'X248', 'X249', 'X250', 'X251', 'X252', 'X253', 'X254', 'X255', 'X256', 'X257', 'X258', 'X259', 'X260', 'X261', 'X262', 'X263', 'X264', 'X265', 'X266', 'X267', 'X268', 'X269', 'X270', 'X271', 'X272', 'X273', 'X274', 'X275', 'X276', 'X277', 'X278', 'X279', 'X280', 'X281', 'X282', 'X283', 'X284', 'X285', 'X286', 'X287', 'X288', 'X289', 'X290', 'X291', 'X292', 'X293', 'X294', 'X295', 'X296', 'X297', 'X298', 'X299', 'X300', 'X301', 'X302', 'X304', 'X305', 'X306', 'X307', 'X308', 'X309', 'X310', 'X311', 'X312', 'X313', 'X314', 'X315', 'X316', 'X317', 'X318', 'X319', 'X320', 'X321', 'X322', 'X323', 'X324', 'X325', 'X326', 'X327', 'X328', 'X329', 'X330', 'X331', 'X332', 'X333', 'X334', 'X335', 'X336', 'X337', 'X338', 'X339', 'X340', 'X341', 'X342', 'X343', 'X344', 'X345', 'X346', 'X347', 'X348', 'X349', 'X350', 'X351', 'X352', 'X353', 'X354', 'X355', 'X356', 'X357', 'X358', 'X359', 'X360', 'X361', 'X362', 'X363', 'X364', 'X365', 'X366', 'X367', 'X368', 'X369', 'X370', 'X371', 'X372', 'X373', 'X374', 'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384', 'X385']
['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

## Step 2 Feature Engineering (FE)

### Categorical data FE: One hot enconding for multi categorical variables

In [10]:
# Extract categorical data frame 

data = dataset[cat_cols]
data.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n

In [14]:
# Explore the distinct labels in each column

for label in data.columns:
  print( label, ':', len(data[label].unique()), 'labels')

X0 : 47 labels
X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels
X8 : 25 labels

In [22]:
# Examine the total number of columns after one-hot encoding

df_cat = data.copy()
df_cat = pd.get_dummies(df_cat, drop_first= True)

print("The shape of the original dataframe before one-hot enconding is:", data.shape)
print("The shape of the new dataframe after one-hot enconding is:", df_cat.shape)

The shape of the original dataframe before one-hot enconding is: (4209, 8)
The shape of the new dataframe after one-hot enconding is: (4209, 187)

In [24]:
# Let us find the most frequently occuring variable 
data.X0.value_counts().sort_values(ascending= False).head(20)

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
Name: X0, dtype: int64

In [25]:
# Let us select the top 15 most frequently occuring variables

top_15 = [ col for col in data.X0.value_counts().sort_values(ascending = False).head(15).index]
top_15

['z',
 'ak',
 'y',
 'ay',
 't',
 'x',
 'o',
 'f',
 'n',
 'w',
 'j',
 'az',
 'aj',
 's',
 'ap']

In [44]:
# Now we create the a one hot encoding using the top 15 categories

for col in top_15:
  data[col] = np.where(data['X0'] == col, 1,0)

data[['X0'] + top_15]. head(20)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    X0  z  ak  y  ay  t  x  o  f  n  w  j  az  aj  s  ap
0    k  0   0  0   0  0  0  0  0  0  0  0   0   0  0   0
1    k  0   0  0   0  0  0  0  0  0  0  0   0   0  0   0
2   az  0   0  0   0  0  0  0  0  0  0  0   1   0  0   0
3   az  0   0  0   0  0  0  0  0  0  0  0   1   0  0   0
4   az  0   0  0   0  0  0  0  0  0  0  0   1   0  0   0
5    t  0   0  0   0  1  0  0  0  0  0  0   0   0  0   0
6   al  0   0  0   0  0  0  0  0  0  0  0   0   0  0   0
7    o  0   0  0   0  0  0  1  0  0  0  0   0   0  0   0
8    w  0   0  0   0  0  0  0  0  0  1  0   0   0  0   0
9    j  0   0  0   0  0  0  0  0  0  0  1   0   0  0   0
10   h  0   0  0   0  0  0  0  0  0  0  0   0   0  0   0
11  al  0   0  0   0  0  0  0  0  0  0  0   0   0  0   0
12   s  0   0  0   0  0  0  0  0  0  0  0   0   0  1   0
13  al  0   0  0   0  0  0  0  0  0  0  0   0   0  0   0
14   o  0   0  0   0  0  0  1  0  0  0  0   0   0  0   0
15   n  0   0  0   0  0  0  0  0  1  0  0   0   0  0   0
16  al  0   0  0   0  0  0  0  0  0  0  0   0   0  0   0
17  ay  0   0  0   1  0  0  0  0  0  0  0   0   0  0   0
18   f  0   0  0   0  0  0  0  1  0  0  0   0   0  0   0
19   n  0   0  0   0  0  0  0  0  1  0  0   0   0  0   0

In [42]:
# Let us create a function that can perform the above encoding for all categories in the dataframe

def one_hot_top_x(new_df, variable, top_x_labels):

  for labels in top_x_labels:
    new_df[variable+'_'+labels] = np.where(data[varaible] == labels, 1,0)

In [43]:
# Encode X1 into the top 10 most occuring variables in df
df = dataset[cat_cols]

one_hot_top_x(df, 'X0', top_15)

df.head()

NameError: ignored